<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Header-->
<header class="bg-info bg-gradient text-white" th:fragment="copy">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Productos</h1>
        <p class="lead">Elige una acción</p>
        <a class="btn btn-lg btn-light" th:href="@{/products}">Ver productos</a>
        <a class="btn btn-lg btn-light" th:href="@{/product_create}">Crear producto</a>
    </div>
</header>
</body>
</html>